*{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

body{
	width: 100%;
	background-color: #0E0D0D;
}

header{

	background-color: black;
	height: 66px;
	position: relative;
	width: 100%;
	z-index: 1;
	position: fixed;
}
header a img{
	 width:179px;
	 height:35px;
	 padding-top: 17px;
	 padding-left: 50px;
	 z-index: 1;
}

nav{
	float: right;
	display: flex;
	top: 0;
	position: sticky;
	position: -webkit-sticky;
	line-height: 66px;
}
nav ul{
	list-style-type: none;
	padding-right: 40px;
	margin: 0px;
	overflow: hidden;
}

nav ul li{
	float: left;
	list-style: none;
	position: relative;
	display: inline-block;
}
nav ul li::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #0500FF;
	border:4px;
	scale:.1;
	transform-origin: all;
	transition: scale .75s;
}
nav ul li:hover::before{
	scale:1;
}

nav ul li a{
	text-align: center;
	padding: 0px 19px 0px 19px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 30px;
}
nav ul li a:hover{
	color: #0500FF;
}
p{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding-left: 100px;
}
p1{
	color: #0500FF;
	font-size: 48px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	padding-left: 100px;
}
section{
	width: 100%;
	display: flex;
	height: 535px;
	padding: 0px;
	margin: auto;
	margin-bottom: 50px;
}
main{
	width: 70%;
	display: flex;
	align-items: center;
	padding-top: 190px;
}

aside{
	width: 30%;
	display: flex;
	line-height: 535px;
	padding-right: 50px;
	padding-top: 100px;
}
aside img{
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	padding-right: 50px;
}
article ul{
	list-style-type: none;
	padding-left: 100px;
	margin: 0px;
	overflow: hidden;
}
article ul li{
	float: left;
}
article ul li a{
	padding: 0px 10px 0px 10px;
}
h1{
	color: #0500FF;
	font-family: arial;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	padding-bottom: 35px;
}
p2{
	color: grey;
	font-family: 'Open Sans', sans-serif;
}
main2{
	width: 60%;
	display: flex;
	align-items: center;
	text-align: justify;
	padding-right: 80px;
}

aside2{
	width: 40%;
	display: flex;
	line-height: 535px;	
}
aside2 img{
	width: 100%;
	height: 100%;
}
footer{
	text-align: center;
	width: 100%;
	padding:50px 0px 50px 0px;
	margin-top: 50px;
	color: white;
	padding-top: 100px;
}